.parallax-background {
    /* background-image: url('./assets/landingimg.avif'); */
    background-color: rgb(226, 193, 121);
    /* Replace with your background image */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.animate-text {
    animation: fadeIn 2s ease-in-out;
}

.animate-img {
    animation: fadeInUp 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.rain {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.rain img {
    position: absolute;
    animation: fall linear infinite;
    width: 50px;
    height: 50px;
}

@keyframes fall {
    0% {
        transform: translateY(-110vh);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}